* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    min-width: 300px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.background {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.7);
}
.background.night {
  background-image: url(../imgs/night.jpg);
}
.background.day {
  background-image: url(../imgs/bg-image-daytime.jpg);
}

main {
  padding: 5rem 0 0;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
}
@media (max-width: 767px) {
  main {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
main .quotes-wraper {
  color: white;
  display: flex;
  gap: 20px;
  height: 30vh;
}
@media (min-width: 992px) {
  main .quotes-wraper {
    max-width: 50%;
  }
}
main .quotes-wraper .quote-wraper {
  width: calc(95% - 20px);
}
@media (max-width: 767px) {
  main .quotes-wraper .quote-wraper {
    width: calc(90% - 20px);
  }
}
main .quotes-wraper .quote-wraper h4 {
  margin-top: 15px;
}
main .quotes-wraper .quote-wraper q {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
@media (max-width: 767px) {
  main .quotes-wraper .quote-wraper q {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
main .quotes-wraper svg {
  width: 5%;
  fill: white;
  margin-top: 7px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (max-width: 767px) {
  main .quotes-wraper svg {
    width: 10%;
  }
}
main .quotes-wraper svg:hover {
  opacity: 1;
}
main section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 992px) {
  main section {
    align-items: end;
    flex-direction: row;
  }
}
main section .time-detials {
  color: white;
}
main section .time-detials .weather {
  display: flex;
  align-items: center;
  gap: 15px;
}
main section .time-detials .weather p.weather-currently {
  font-size: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  main section .time-detials .weather p.weather-currently {
    font-size: 15px;
  }
}
main section .time-detials .time-wrapper {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
main section .time-detials .time-wrapper h1.time-now {
  font-size: 9rem;
  padding: 20px;
  line-height: 9rem;
}
@media (max-width: 767px) {
  main section .time-detials .time-wrapper h1.time-now {
    font-size: 5rem;
    padding: 12px;
    line-height: 5rem;
  }
}
main section .time-detials .time-wrapper .time-standred {
  font-size: 2rem;
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  main section .time-detials .time-wrapper .time-standred {
    font-size: 1rem;
  }
}
main section button {
  border: none;
  padding: 0.6rem;
  padding-left: 1rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: #7f7f7f;
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  max-width: 170px;
}
@media (max-width: 767px) {
  main section button {
    max-width: 155px;
    font-size: 1rem;
  }
}
main section button img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
main section button.clicked img {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
}

.detials {
  background-color: #c5c5c5;
  padding: 60px;
  height: 50vh;
}
@media (max-width: 767px) {
  .detials {
    padding: 60px 30px;
  }
}
.detials ul.detials-content {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.detials ul.detials-content li {
  width: calc(50% - 20px);
  padding: 0 20px;
  color: #303030;
}
@media (max-width: 767px) {
  .detials ul.detials-content li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
.detials ul.detials-content li h4 {
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  .detials ul.detials-content li h4 {
    font-size: 1.2rem;
  }
}
.detials ul.detials-content li p {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .detials ul.detials-content li p {
    font-size: 0.8rem;
    margin: 0;
  }
}
.detials ul.detials-content li:first-of-type {
  order: 1;
}
.detials ul.detials-content li:nth-of-type(2) {
  order: 3;
}
.detials ul.detials-content li:nth-of-type(3) {
  order: 2;
}
.detials ul.detials-content li:last-of-type {
  order: 4;
}/*# sourceMappingURL=style.css.map */
